<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{73,1},{39,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{114,1},{39,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,270}</string>
                <key>spriteSourceSize</key>
                <string>{195,270}</string>
                <key>textureRect</key>
                <string>{{805,1},{195,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{25,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{49,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{155,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{201,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBK.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,198},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,66}</string>
                <key>spriteSourceSize</key>
                <string>{184,66}</string>
                <key>textureRect</key>
                <string>{{247,1},{184,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,66}</string>
                <key>spriteSourceSize</key>
                <string>{184,66}</string>
                <key>textureRect</key>
                <string>{{433,1},{184,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,66}</string>
                <key>spriteSourceSize</key>
                <string>{184,66}</string>
                <key>textureRect</key>
                <string>{{619,1},{184,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1282,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4471e3c770b5f2d2e2b4ed2f7cc335f3:74f80dc33313890c5d4692a2e4f93454:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
