<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{255,1},{39,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Head1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Head1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{23,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Head1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{45,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Head1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{4,16}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{67,1},{4,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Head1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{4,10}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{85,1},{4,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{296,1},{39,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,270}</string>
                <key>spriteSourceSize</key>
                <string>{195,270}</string>
                <key>textureRect</key>
                <string>{{987,1},{195,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{207,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{97,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>body1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{119,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>body1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{141,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>body1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{163,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>body1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,20}</string>
                <key>spriteSourceSize</key>
                <string>{4,20}</string>
                <key>textureRect</key>
                <string>{{185,1},{4,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{231,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{337,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{383,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBK.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,198},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,66}</string>
                <key>spriteSourceSize</key>
                <string>{184,66}</string>
                <key>textureRect</key>
                <string>{{429,1},{184,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,66}</string>
                <key>spriteSourceSize</key>
                <string>{184,66}</string>
                <key>textureRect</key>
                <string>{{615,1},{184,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,66}</string>
                <key>spriteSourceSize</key>
                <string>{184,66}</string>
                <key>textureRect</key>
                <string>{{801,1},{184,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1282,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67832f3613d1b0f257b52c17f287eab:dd0674abbc99401edf1cc8cdb160ed2e:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
